@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Lobster&family=Luxurious+Roman&family=Orelega+One&family=Reenie+Beanie&family=The+Nautigal:wght@400;700&family=Vujahday+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(to right, blue, rgba(255, 255, 255, 0.596), green);*/
    /*background: linear-gradient(70deg, rgb(241, 170, 15), rgb(255, 255, 255));
    background: linear-gradient(to right,rgb(238, 89, 139), rgb(233, 134, 172),rgb(238, 89, 139));*/
    background: linear-gradient(to right,rgb(238, 89, 139), rgb(233, 134, 172), rgb(223, 177, 191));
}

.form-registrar {
    width: 40%;
    /*background: #24303c;*/
    background: linear-gradient(to right,rgb(241, 170, 15), rgb(180, 155, 9), rgb(226, 233, 133));
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'Montserrat', sans-serif;
    color: #fff;
    box-shadow: 7px 13px 37px #000;

}
.top-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-registrar h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
    font-size: 3rem;
    font-weight: bold;
}
.form-registrar h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'The Nautigal', cursive;
    font-size: 4rem;
    font-weight: bold;
}
.avatar{
    width: 100%;
    height: 50%;

    max-width: 100%;
    max-height: 100%;
}
.avatar img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    /*object-fit: cover;
    object-position: center;
    vertical-align: center;*/

}

.form-input {
    width: 100%;
    background: #e8eef3d0;
    color: rgb(139, 98, 7);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid rgb(238, 89, 139);
    font-family: 'calibrí', cursive;
    font-size: 18px;
    text-align: center;
}
a{
    text-decoration: none;
    /*display: inline-block;
    color: #fff;
    padding: 15px;*/
}
.form-input:hover{
    text-decoration: none;
    background: linear-gradient(to right,rgb(241, 170, 15), rgb(180, 155, 9), rgb(226, 233, 133));
    color: #fff;
    border-radius: 20px;
}
.fab, .fas, .fad{
    padding-left: 0.5rem;
}

.form-registrar p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    font-family: 'Vujahday Script', cursive;
    font-size: 2rem;
    font-weight: bold;
}

.form-registrar a {
    color: #fff;
    text-decoration: none;
}

.form-registrar a:hover {
    color: #fff;
    text-decoration: underline;
}

.boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .form-registrar {
        width: 60%;

    }

    .form-registrar p {
        height: 40px;
        text-align: center;
        font-size: 12px;
        line-height: 40px;
    }
}